@import url(./font/font.css);

body {
    font-family: "Nunito Sans";
    font-weight: 400;
    line-height: 26.73px;
    margin: 0;
    font-size: 11px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background: rgba(19, 19, 19, 1);
}

.header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    background: rgba(19, 19, 19, 1);
    margin-left: 6.4%;
    margin-right: 6.26%;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
}

.header__item_title {
    color: rgba(227, 184, 115, 1);
}

.header__item_gold {
    color: rgba(227, 184, 115, 1);
}

.header__item_whit {
    color: rgba(255, 255, 255, 1);
}

.header__item_contacts {
    color: rgba(227, 184, 115, 1);
}

.header__item_button {
    width: 161px;
    height: 37px;
    border-radius: 2px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.2);
    background: rgba(227, 184, 115, 1);
    border: 0;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.slider {
    background: rgba(19, 19, 19, 1);
    display: flex;
    justify-content: center
}

.main__slaider {
    max-width: 1171px;
}

.slide {
    display: flex;
}

.arrow {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.main_slide_h {
    font-family: Yeseva One;
    font-size: 27px;
    font-weight: 400;
    line-height: 37.42px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: rgba(227, 184, 115, 1);
    margin-top: 50px;
}

.main_slide_p {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 26.73px;
    color: rgba(255, 255, 255, 1);
    max-width: 400px;
    margin-right: 50px;
}

.info_ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 30px;
}

.infoul_ogl {
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.95px;
    color: rgba(227, 184, 115, 1);
    text-transform: uppercase;
}

.infoul_xaracter {
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 21.28px;
    color: rgba(255, 255, 255, 1);
}

.main__info_li {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main__infoli_div {
    display: flex;
    flex-direction: column;
}

.dots {
    display: flex;
    gap: 18px;
}

.dot {
    width: 9.57px;
    height: 9.57px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.dot.active {
    background: rgba(255, 255, 255, 1);
    width: 9.57px;
    height: 9.57px;
    border-radius: 30px;
    cursor: pointer
}

.main_city {
    display: flex;
    justify-content: space-around;
}

.main_city_active {
    color: rgba(227, 184, 115, 1);
    font-family: Yeseva One;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.4px;
    text-decoration: underline;
    text-decoration-color: rgba(227, 184, 115, 1);
    text-transform: uppercase;
}

.main_city_pacciv {
    font-family: Yeseva One;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.4px;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}

.arrosvg {
    width: 41px;
    height: 13px;
}

.slider-navigation {
    display: flex;
    max-width: 1171px;
    position: relative;
    top: -100px;
    gap: 12px;
}

.slid_le {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main_re {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slider-images {
    margin-top: 25px;
}